*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(Mocha\ \(ou\ Mocha\ Branco\)_\ Photorealistic\ image\ of\ a\ Starbucks\ hot\ Mocha\ \(or\ White\ Mocha\)\ in\ a\ white\ ceramic\ mug\,\ whipped\ cream\ on\ top\,\ rich\ chocolate\ drizzle\,\ simple\ clean\ background\,\ cozy\ lighting.\ \(1\).jpg);
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}
main{
    margin-left: 700px;
    margin-top: 70px;
    width: 400px;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    box-shadow:9px 17px 27px -3px #3a271c ;
}
h2{
    text-align: center;
    margin: 7px;
    color: #DDD6C6;
}
h1{
    color: #f0e9da;
    text-align: center;
    margin: 7px;
}
h3{
    font-size: 20px;
    color: aliceblue;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.entrar_com{
    
    margin-left: 23px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 13px 11px -3px #493123;
    cursor: pointer;
    transition: 0.5s;
}
.entrar_com:hover{
    transform: translateY(-5px);
    box-shadow: 0px 13px 15px 3px #493123
}
.entrar_com img{
    width: 20px;
}
#input{
    background-color: transparent;
    border: none;
    width: 350px;
    margin-left: 20px;
    height: 30px;
    box-shadow: 0px 13px 11px -3px #493123;
    padding-left: 10px;
    border-radius: 3px;
    outline: solid 1px rgba(114, 117, 121, 0.637);
    transition: 0.4s;
}
#input:focus{
    color: black;
    background-color: #ddd6c691;
}

#input::placeholder{
    color: #DDD6C6;
}
.flex-lembrar_cadastro{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-size: 1em;
}
#button_enviar{
    
    margin-top: 15px;
    margin-left: 50px;
    height: 40px;
    width: 270px;
    background-color: #DDD6C6;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 13px 11px -3px #493123;
    cursor: pointer;
    transition: 0.5s;

}
#button_enviar:hover{
    transform: translateY(-2px);
    background-color:#ddd6c63f ;
    color: #DDD6C6;

}
.p_final{
    margin-top: 20px;
    text-align: center;
    
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p,label{
    color: #DDD6C6;
}
a img{
    width: 70px;
    margin-bottom: -90px;
    margin-left: 50px;
    margin-top: 30px;
    transition: 0.5s;
    background-color: #00000081;
    border-radius: 1000px;

}
a img:hover{
    
    transform: translateY(-5px);
}
